.personal-tag {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: end;
    margin: auto;
    margin-right: 25px;
    cursor: pointer;
    a {
        color: #52b1d2;
        text-decoration: underline wavy;
        text-underline-position: under;
    }
}


@media only screen and (max-width: 650px) {
    .personal-tag {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 450px) {
    .personal-tag {
        font-size: 0.7rem;
        margin-right: 22px;
    }
}