.humidity {
    display: flex;
    // align-items: flex-start;
    // margin: auto;
    gap: 15px;
    margin: 50px 0px 10px 70px;


    &_details {
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        // color: #101820;
        color: #52b1d2;
        &_rate {
            font-size: 1.35rem;
        }
        &_tag {
            font-size: 0.9rem;
        }
    }
}