.personal-tag {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: end;
    margin: auto;
    margin-right: 25px;
    cursor: pointer;
    a {
        color: #52b1d2;
        text-decoration: none;
    }
}