.wind {
    display: flex;
    gap: 15px;
    margin-left: 70px;
    &_details {
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        // color: #101820;
        color: #52b1d2;
        &_speed {
            font-size: 1.35rem;
            word-spacing: -5px;
        }
        &_tag {
            font-size: 0.9rem;
        }
    }
}


@media only screen and (max-width: 650px) {
    .wind {
        gap: 10px;
        margin-left: 45px;
        &_details {
            &_speed {
                font-size: 1.2rem;
            }
            &_tag {
                font-size: 0.8rem;
            }
        }
    }
}